<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<!--Widok Listy:<br>-->
<!--<tr th:each="person : ${personList}">-->
<!--    <td th:text="${person.getName()}"/>-->
<!--    <br>-->
<!--    Masz-->
<!--    <td th:text="${person.getYears()}"/>-->
<!--    lat<br>-->
<!--<br>-->
<!--    <br>-->
<!--    <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--</tr>-->


<tr th:each="person : ${showRepo}">
    <td th:text="${person.name}"></td>
    <br>
    Masz
    <td th:text="${person.years}"></td>
    lat<br>

    <td>
    <a th:href="@{/delete/{id}(id=${person.id})}" class="btn btn-primary"><button type="submit">Delete</button></a>
    </td>
    <p>-----------</p>
</tr>


<h1>Jak sie nazywasz?</h1>

<form th:action="@{/form}" th:object="${newPerson}" name="name" method="post">
    <label>

        Podaj imie:<br>
        <input type="text" th:field="*{name}"><br>
        Podaj rok urodzenia:<br>
        <input type="text" th:field="*{yearOfBirth}"><br>

    </label>
    <button type="submit">Wyslij</button>
</form>
</body>
</html>