<!--plik order.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>How old are you?</h1>

<form method="post" th:action="@{/form}" th:object="${howold}" name="howold">
    <label>

        Podaj imie:<br>
        <input type="text" th:field="*{name}"><br>
        Podaj rok urodzenia:<br>
        <input type="text" th:field="*{yearOfBirth}"><br>

    </label>

    <button type="submit">Wyslij</button>
</form>
</body>
</html>