<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<tr th:each="person : ${personList}">
    <td th:text="${person.getName()}"/>
    <br>
    Masz
    <td th:text="${person.getYears()}"/>
    lat<br>
    <p>-----------</p>
</tr>


<h1>Jak sie nazywasz?</h1>

<form th:action="@{/form}" th:object="${newPerson}" name="name" method="post">
    <label>

        Podaj imie:<br>
        <input type="text" th:field="*{name}"><br>
        Podaj rok urodzenia:<br>
        <input type="text" th:field="*{yearOfBirth}"><br>

    </label>
    <button type="submit">Wyslij</button>
</form>
</body>
</html>